<html>
<script src="https://unpkg.com/vue"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/x-template" id="Search">
    <div class="card-panel">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s10">
                        <input id="term" type="text" v-model="term" class="validate" />
                        <label for="term">Search for</label>
                    </div>
                    <div class="col s2">
                        <a class="waves-effect waves-light btn" v-on:click="search"><i class="material-icons left">search</i></a>
                    </div>
                </div>
            </form>
        </div>
        <ul class="collection">
            <li v-for="item in results" class="collection-item">{{item.name}}</li>
        </ul>
        <div v-show="showNoResults">
            No results
        </div>
    </div>
</script>
<script type="text/x-template" id="Aggregations">
    <div class="card-panel">
        <svg id="Graph" width="960" height="960" font-family="sans-serif" font-size="10" text-anchor="middle"></svg>
    </div>
</script>
<script type="text/x-template" id="Profile">
    <div>
        <div class="card-panel">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea v-model="message" class="materialize-textarea"></textarea>
                            <label for="textarea1">About me</label>
                        </div>
                        <div class="col s12">
                            <a class="waves-effect waves-light btn-large" v-on:click="update"><i class="material-icons left">save</i>Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title">My competences</span>
                <div>
                    <div v-for="item in competences" class="chip">{{item.text}}<i class="close material-icons">close</i></div>

                </div>
            </div>
        </div>
    </div>
</script>

<body>
    <div id="app" class="container">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">Logo</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="#" v-on:click="showProfile">My profile</a></li>
                    <li><a href="#" v-on:click="showSearch">Search</a></li>
                    <li><a href="#" v-on:click="showAggregations">Aggregations</a></li>
                </ul>
            </div>
        </nav>
        <div :is="currentPage">
            </profile>

        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>